torch
torchvision
torchaudio
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.6.3
seaborn==0.12.2
torchsummary==1.5.1
torchmetrics==1.0.1
streamlit==1.12.2
fastapi==0.95.1
uvicorn==0.22.0
tqdm==4.64.1
joblib==1.2.0
